@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');
html, body {
	height: 100%;
}

.font-graduate {
	font-family: 'Graduate', cursive;
}

.parallax {
	position: relative;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallax.full {
	min-height: 100%;
}

h1 {
	@apply text-5xl;
}

h3 {
	@apply text-3xl;
}